.BoxlistShow {
  display: none;
}

.BoxmapShow {
  display: none;
}


.RefreshBox {
  position: absolute;
  top: 37px;
  left: 1130px;
  width: 50px;
  height: 20px;
}

.RefreshImg {
  position: relative;
  top: -8px;
  left: -15px;
  width: 13px;
  height: 15px;
}

.RefreshTitle {
  position: relative;
  font-size: 10px;
  top: -12px;
  left: -14px;
  width: 15px;
  height: 15px;
}

.box-card1 {
  position: relative;
  top: 20px;
  height: 125px;
}

.box-card2 {
  position: relative;
  top: 45px !important;
  height: 1930px;
}

.radio {
  position: relative;
  top: -73px;
  left: 820px;
}

.RadioTitle {
  position: relative;
  top: -71px;
  left: 805px;
  font-size: 16px;
}

.add {
  position: relative;
  top: -73px;
  left: 710px;
  width: 110px;
  height: 40px;
}

.input {
  position: relative;
  top: -10px;
}

.select {
  position: relative;
  top: -10px;
  left: 30px;
}

.search {
  position: relative;
  top: -10px;
  left: 55px;
}

.clearfix {
  color: #999999;


}