.adduser {
    position: relative;
    top: -198px;
    left: 755px;
    width: 110px;
    height: 40px;
}

.UsSearch {
    position: relative;
    top: -72px;
    left: 315px;
}

.Ussearch2 {
    position: relative;
    top: -135px;
    left: 660px;
}

.Urclearfix {
    color: #999999;
    margin-bottom: 30px;
    height: 10px;
}